html {
	min-height: 100%;
	position: relative;
}
body {
	margin: 0px;
	margin-bottom: 250px;
	background-color: #00CED1;
	font-family: 'Varela Round', sans-serif;
}
h2,
h3 {
	text-align: center;
	font-family: 'Exo 2', sans-serif;
}
h3 {
	margin: 0px;
	margin-bottom: 15px;
}

/*--------------------------- header */
.header {
	background-color: #F81820;
	padding: 20px;
	text-align: center;
}

/*--------------------------- container */
.container {
	border: 2px solid #122FA4;
	padding: 15px;
	margin: 10px 15px;
	border-radius: 10px;
	background-color: #E0FFFF;
	display: none;
}

/*--------------------------- gif__loading */
.imgcharging {
	width: 100%;
	height: 600px;
}

/*--------------------------- container__instructions*/
.container__start--instructions {
	width: 80%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.li {
	margin-top: 10px;
	text-align: left;
}
.starterimg {
	height: 150px;
}
#btnStart {
	width: 200px;
	height: 50px;
	font-size: 20px;
	margin: 20px auto;
	margin-top: 50px;
}
.line {
	width: 90%;
}
.container__start--footer {
	text-align: center;
	margin: 0px;
}

/*--------------------------- container__turno*/
.container__turno--player {
	border-radius: 50px;
	text-align: center;
	width: 150px;
	padding: 5px;
}
.container__turno--player h3 {
	margin: 0px;
}
.displayText {
	margin: 0px;
	font-family: 'Sniglet', cursive;
}
.container__turno--textTurno {
	align-self: flex-start;
}

/*--------------------------- container__Elige tu nombre de Maestro Pokemón*/
.container__playerName {
	display: grid;
	justify-content: center;
}
.form {
	display: inherit;
}
.txt {
	margin: 10px 0;
	padding: 5px;
	border-radius: 5px;
	outline: none;
}
.btn {
	padding: 5px;
	border-radius: 5px;
	font-family: 'Orbitron', sans-serif;
	letter-spacing: .5em;
	cursor: pointer;
	outline: none;
}
.btn:hover {
	box-shadow: 0px 0px 20px 5px rgba(0, 255, 0, .5);
	transform: scale(1.1);
}

/*--------------------------- Container__Elige a tu compañero de batalla*/
.container__choosingPokemon {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	flex-wrap: wrap;
}
.container__choosingPokemon--listaPokemon {
	width: 300px;
	height: 320px;
}
.listaPokemonA__scroll {
	width: 250px;
	height: 200px;
	overflow-y: scroll;
	margin: auto;
}
.listaPokemonA__loadingList {
	width: 100%;
}
#listaPokemonB {
	display: grid;
}
.container__choosingPokemon--listaPokemon p {
	margin: 0px;
}
.listaPokemonB__imgPokebola {
	width: 100px;
	margin: auto;
}
.containerDito {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 70%;
	margin: auto;
}

/*--------------------------- timer */
.timer {
	background-color: black;
	color: white;
	font-size: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ------------------------------------ Container Pokemon Info&Battle*/
/*--------- info ----------*/
.container__pokemonInfo {
	display: flex;
	justify-content: space-between;
}
.container__pokemonInfo--info {
	width: 197px;
	display: flex;
}
.pokemonInfo--info__datosPokemon {
	border: 3px solid #00FF00;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-right: 0px;
	width: 70px;
	padding: 5px;
}
.pokemonInfo--info__pokemonElegido {
	border: 3px solid #00FF00;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-left: 0px;
	width: 100px;
	padding: 5px;
}
.pokemonInfo--info__datosPokemon p {
	margin: 0px;
	font-weight: bold;
	text-align: right;
}

/*--------- battle ----------*/
.container__battle--battle {
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.container__battle--battleButtons {
	background-color: #98FB98;
	width: 140px;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	justify-content: center;
	align-self: flex-start;
	margin: 0px 15px;
}
.btnAtaque {
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 10px;
	font-family: 'Orbitron', sans-serif;
	font-size: 14px;
	cursor: pointer;
	transition: 400ms;
	outline: none;
}
.btnAtaque:hover {
	box-shadow: 0px 0px 20px 5px rgba(0, 255, 0, .5);
	transform: scale(1.2);
}
.battleMap {
	background-image: url('../images/background1.png');
	background-size: cover;
	padding: 30px 30px 0 50px;
	width: 400px;
	height: 250px;
	margin: 10px 0;
	display: flex;
	justify-content: space-between;
}
.map2 {
	background-image: url('../images/background2.png');
}
#battle-text {
	background-color: #fff;
	border:2px solid gray;
	border-left: #9c9c9c;
	border-top: #9c9c9c;
	padding: 5px;
	border-radius: 5px;
	margin-top: 10px;
}

/* ------------------------------------ button playAgain*/
#playAgain {
	width: 60%;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
	align-self: center;
}
.pulse {
	animation-name: pulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

/* ------------------------------------ footer*/
.footer {
	background-color: #005fff;
	width: 100%;
	bottom: 0;
	font-family: 'arial';
	font-size: 0.8em;
	position: absolute;
}
.footer__container {
	padding: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.footerEmail {
	margin-left: 5px;
	border-radius: 5px;
	background-color: black;
	padding: 5px;
	color: white;
	cursor: pointer;
}
.footer__container--contacto {
	display: flex;
	align-items: center;
}
.redes {
	border: 4px solid black;
	border-radius: 10px;
	align-items: center;
	margin: 10px;
	height: 40px;
	width: 40px;
}
.redes:hover {
	box-shadow: 0px 0px 10px 2px;
	cursor: pointer;
}
.redes-icon {
	padding-top: 5px;
}
footer p {
	margin: 0px;
	text-align: center;
}
a {
	color: black;
	text-decoration: none;
}
a:hover {
	color: white;
	text-decoration: underline;
}

/*------------------------   clases para iterar componentes */
.start {
	display: grid;
	text-align: center;
}
.hide {
	display: none;
}
.turno {
	display: flex;
	justify-content: space-between;
	height: 100px;
	align-items: flex-end;
}
.indicator {
	border: 4px solid #00FF00;
	background-color: #98FB98;
}
.choosePlayerName {
	display: grid;
}
.containerChoosePokemon {
	display: block;
}
.pokemonInfoBattle {
	display: flex;
	flex-direction: column;
}
.turnButtons {
	align-self: flex-end;
}
.rotar{
    transform: scaleX(-1);
}
.imgEnd {
	align-self: flex-end;
}
.pokeByeBye {
	animation: 7000ms fadeOut;
	animation-fill-mode: forwards
}
.lanzarAtaque {
	border-radius: 150px;
	animation-name: ataque;
	animation-duration: .3s;
	animation-iteration-count: infinite;
}
.lanzarAtaqueAgua {
	border-radius: 150px;
	animation-name: ataqueAgua;
	animation-duration: .3s;
	animation-iteration-count: infinite;	
}
.lanzarAtaqueVeneno {
	border-radius: 150px;
	animation-name: ataqueVeneno;
	animation-duration: .3s;
	animation-iteration-count: infinite;
}
.lanzarAtaqueFantasma {
	border-radius: 150px;
	animation-name: ataqueFantasma;
	animation-duration: .3s;
	animation-iteration-count: infinite;
}
.lanzarAtaqueTierra {
	border-radius: 150px;
	animation-name: ataqueTierra;
	animation-duration: .3s;
	animation-iteration-count: infinite;
}
.lanzarAtaqueVolador {
	border-radius: 150px;
	animation-name: ataqueVolador;
	animation-duration: .3s;
	animation-iteration-count: infinite;	
}

.evadAtaque {
	animation-name: evadir;
	animation-duration: .3s;
	animation-iteration-count: infinite;
}
.useDefense {
	animation-name: defense;
	animation-duration: .3s;
	animation-iteration-count: infinite;
}
.pokeAtacado {
	animation-name: atacado;
	animation-duration: .3s;
	animation-iteration-count: infinite;
}

/*------------------------   animaciones*/
@keyframes fadeOut {
	0%   {opacity: 1;}
	100% {opacity: 0;}
}
@keyframes pulse {
	0%	 {transform: scale(1);}
	50%  {transform: scale(1.5);}
	100% {transform: scale(1);}
}
@keyframes ataque {
	0%	 {box-shadow: inset -20px  20px 50px 1px gold;}
	25%	 {box-shadow: inset  20px  20px 50px 1px gold;}
	50%	 {box-shadow: inset  20px -20px 50px 1px gold;}
	100% {box-shadow: inset -20px -20px 50px 1px gold;}
}
@keyframes ataqueAgua {
	0%	 {box-shadow: inset -20px  20px 50px 1px #01A9DB;}
	25%	 {box-shadow: inset  20px  20px 50px 1px #01A9DB;}
	50%	 {box-shadow: inset  20px -20px 50px 1px #01A9DB;}
	100% {box-shadow: inset -20px -20px 50px 1px #01A9DB;}
}
@keyframes ataqueVeneno {
	0%	 {box-shadow: inset -20px  20px 50px 1px #38610B;}
	25%	 {box-shadow: inset  20px  20px 50px 1px #38610B;}
	50%	 {box-shadow: inset  20px -20px 50px 1px #38610B;}
	100% {box-shadow: inset -20px -20px 50px 1px #38610B;}
}
@keyframes ataqueFantasma {
	0%	 {box-shadow: inset -20px  20px 50px 1px #170B3B;}
	25%	 {box-shadow: inset  20px  20px 50px 1px #170B3B;}
	50%	 {box-shadow: inset  20px -20px 50px 1px #170B3B;}
	100% {box-shadow: inset -20px -20px 50px 1px #170B3B;}
}
@keyframes ataqueTierra {
	0%	 {box-shadow: inset -20px  20px 50px 1px #B45F04;}
	25%	 {box-shadow: inset  20px  20px 50px 1px #B45F04;}
	50%	 {box-shadow: inset  20px -20px 50px 1px #B45F04;}
	100% {box-shadow: inset -20px -20px 50px 1px #B45F04;}
}
@keyframes ataqueVolador {
	0%	 {box-shadow: inset -20px  20px 50px 1px #BDBDBD;}
	25%	 {box-shadow: inset  20px  20px 50px 1px #BDBDBD;}
	50%	 {box-shadow: inset  20px -20px 50px 1px #BDBDBD;}
	100% {box-shadow: inset -20px -20px 50px 1px #BDBDBD;}
}
@keyframes evadir {
	0%   {margin: 0px 20px;}
	50%  {margin: 10px 10px;}
	100% {margin: 0;}
}
@keyframes defense {
	0% {
		border-left: 2px solid rgba(255, 255, 255,.9);
		border-radius: 100px;
	}
	50%  {
		border-left: 2px solid rgba(255, 255, 255,.5);
		border-radius: 120px;
	}
	100% {
		border-left: 2px solid rgba(255, 255, 255,.1);
		border-radius: 100px;
	}
}
@keyframes atacado {
	0%    {opacity: 1;}
	50%   {opacity:.5;}
	100%  {opacity: 0;}
}