/*#FFDF17 AMARILLO
#122FA4 AZUL
#3BE5EE AZUL BRILLOSO
#F81820 ROJO
*/
body {
	margin: 0px;
	background-color: #00CED1;
}

header {
	background-color: #F81820;
	padding: 20px;
	text-align: center;
}
h2 {
	text-align: center;
}

.container {
	border: 2px solid #122FA4;
	padding: 15px;
	margin: 10px 15px;
	border-radius: 10px;
	background-color: #E0FFFF;
}




#container-start {
	display: grid;
}
#btnStart {
	width: 200px;
	height: 50px;
	font-size: 20px;
	margin: 20px auto;
}

#container-start-foot {
	text-align: center;
	margin: 0px;
}
#turno {
	display: flex;
	justify-content: space-between;
	height: 100px;
	align-items: flex-end;
	display: none;
}
#textTurno {
	align-self: flex-start;
}

.player {
	border-radius: 50px;
	text-align: center;
	width: 150px;
	padding: 5px;
	border: 4px solid #00FF00;
	background-color: #98FB98;
}
h3 {
	margin: 0px;
}
.textPlayerName {
	margin: 0px;
}




.container-playerName {
	display: grid;
	justify-content: center;
}
.txt {
	margin: 10px 0;
	padding: 5px;
	border-radius: 5px;
}
.btn {
	padding: 5px;
	border-radius: 5px;
}



/*Container - Elige a tu compañero de batalla*/
.container-choosingPokemon {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	flex-wrap: wrap;
}
.listaPokemon {
	width: 300px;
	height: 275px;
}
.listaPokemon h3 {
	margin-bottom: 15px;
	text-align: center;
}
.listaPokemon p {
	margin: 0px;
}
#listaPokemonB {
	display: grid;
}

#scroll {
	width: 250px;
	height: 200px;
	overflow-y: scroll;
}
#imgPokebola {
	width: 100px;
	margin: auto;
}


/* ------------------------------------ Container Pokemon Info*/
.container-pokemonInfo {
	display: flex;
	justify-content: space-between;
}
.datosPokemon {
	border:3px solid red;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right: 0px;
	width: 70px;
	padding: 5px;
}
.pokemonElegido {
	border:3px solid red;	
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-left: 0px;
	width: 100px;
	padding: 5px;
}
.datosPokemon p {
	margin: 0px;
	font-weight: bold;
	text-align: right;
}
.datos {
	margin: 0px;
}
.pokemonInfo {
	width: 197px;
	display: flex;
}



/*------------------timer */
#container-timer {
	background-color: black;
	color: white;
	font-size: 35px;
	display: flex;
	flex-direction: column;
	align-items: center;
	display: none;
}
.pokemonSelected {
	margin-top: 15px;
	display: flex;
	justify-content: space-around;
}
.ps {
	border: 2px solid black;
	width: 350px;
	height: 300px;
}
#battle-text {
	background-color: #fff;
	border:2px solid gray;
	padding: 5px;
	border-radius: 5px;
}


/*------------------------   footer*/
footer {
	background-color: #005fff;
	padding: 15px;
	margin-top: 20px;	
}
#footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.footerEmail {
	margin-left: 5px;
	border-radius: 5px;
	background-color: black;
	padding: 5px;
	color: white; 
}
footer div {
	display: flex;
}
footer p {
	margin: 0px;
	text-align: center;
}
footer div p a {
	color: black;
}
.redes {
	border: 4px solid black;
	border-radius: 10px;
	align-items: center;
	margin: 10px;
	height: 50px;
	width: 50px;
}




/*------------------------   clases para iterar componentes */
.hide {
	display: none;
}

turno-indicator {
	border: 4px solid #00FF00;
	background-color: #98FB98;
}
#container-start {

}
#container-choose-playerName {
	display: none;
}
#container-choose-pokemon {
	display: none;
}
#container-pokemonInfo-battle {
	display: none;
}