html {
	min-height: 100%;
	position: relative;
}
body {
	margin: 0px;
	margin-bottom: 250px;
	background-color: #00CED1;
	font-family: 'Varela Round', sans-serif;
}
header {
	background-color: #F81820;
	padding: 20px;
	text-align: center;
}
h2,
h3 {
	text-align: center;
	font-family: 'Exo 2', sans-serif;
}
h3 {
	margin: 0px;
	margin-bottom: 15px;
}

.container {
	border: 2px solid #122FA4;
	padding: 15px;
	margin: 10px 15px;
	border-radius: 10px;
	background-color: #E0FFFF;
	display: none;
}

.imgcharging {
	width: 100%;
	height: 600px;
}

.start {
	display: grid;
}


#btnStart {
	width: 200px;
	height: 50px;
	font-size: 20px;
	margin: 20px auto;
	margin-top: 100px;
}
hr {
	width: 90%;
}
#container-start-foot {
	text-align: center;
	margin: 0px;
}

#textTurno {
	align-self: flex-start;
}

.player {
	border-radius: 50px;
	text-align: center;
	width: 150px;
	padding: 5px;
}
.indicator {
	border: 4px solid #00FF00;
	background-color: #98FB98;
}


.player h3 {
	margin: 0px;
}
.display-text{
	margin: 0px;
	font-family: 'Sniglet', cursive;
}




.container-playerName {
	display: grid;
	justify-content: center;
}
.txt {
	margin: 10px 0;
	padding: 5px;
	border-radius: 5px;
}
.btn {
	padding: 5px;
	border-radius: 5px;
	font-family: 'Orbitron', sans-serif;
	letter-spacing: .5em;
}



/*--------------------------- Container - Elige a tu compañero de batalla*/
.container-choosingPokemon {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	flex-wrap: wrap;

}
.listaPokemon {
	width: 300px;
	height: 320px;
}
.listaPokemon p {
	margin: 0px;
}
#listaPokemonB {
	display: grid;
}

#scroll {
	width: 250px;
	height: 200px;
	overflow-y: scroll;
	margin: auto;
}
#imgPokebola {
	width: 100px;
	margin: auto;
}


/* ------------------------------------ Container Pokemon Info*/
.container-pokemonInfo {
	display: flex;
	justify-content: space-between;
}
.datosPokemon {
	border: 3px solid #00FF00;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-right: 0px;
	width: 70px;
	padding: 5px;
}
.pokemonElegido {
	border: 3px solid #00FF00;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-left: 0px;
	width: 100px;
	padding: 5px;
}
.datosPokemon p {
	margin: 0px;
	font-weight: bold;
	text-align: right;
}
.pokemonInfo {
	width: 197px;
	display: flex;
}



/*------------------timer */
.timer {
	background-color: black;
	color: white;
	font-size: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.battle {
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.battleButtons {
	background-color: #98FB98;
	width: 140px;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	justify-content: center;
	align-self: flex-start;
}
.turnButtons {
	align-self: flex-end;
}
.btnAtaque {
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 5px;
	font-family: 'Orbitron', sans-serif;
	font-size: 14px;
}
.battleMap {
	background-image: url('../images/background1.png');
	background-size: cover;
	padding: 30px 30px 0 50px;
	width: 400px;
	height: 250px;
	margin: 10px 0;
	display: flex;
	justify-content: space-between;
}
.map2 {
	background-image: url('../images/background2.png');
}
.rotar{
    transform: scaleX(-1);
}
.imgEnd {
	align-self: flex-end;
}
#battle-text {
	background-color: #fff;
	border:2px solid gray;
	border-left: #9c9c9c;
	border-top: #9c9c9c;
	padding: 5px;
	border-radius: 5px;
	margin-top: 10px;
}


/*------------------------   footer*/
.footer {
	background-color: #005fff;
	padding: 10px 0;
	width: 100%;
	bottom: 0;
	font-family: 'arial';
	font-size: 0.8em;
	position: absolute;
}

#footer-container {
	padding: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.footerEmail {
	margin-left: 5px;
	border-radius: 5px;
	background-color: black;
	padding: 5px;
	color: white;
}
.footer-redes-contacto {
	display: flex;
	align-items: center;
}
footer p {
	margin: 0px;
	text-align: center;
}
footer div p a {
	color: black;
}
.redes {
	border: 4px solid black;
	border-radius: 10px;
	align-items: center;
	margin: 10px;
	height: 40px;
	width: 40px;
}
.redes-icon {
	padding-top: 5px;
}




/*------------------------   clases para iterar componentes */
.hide {
	display: none;
}
.turno {
	display: flex;
	justify-content: space-between;
	height: 100px;
	align-items: flex-end;
}
.choosePlayerName {
	display: grid;
}
.containerChoosePokemon {
	display: block;
}
.pokemonInfoBattle {
	display: block;
}
